/*------------------------------------------------------------------
    Media Queries
------------------------------------------------------------------*/




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  header h1 {
    font-size: 118px;
  }


  section {

    &.why {
      h2 {
        font-size: 210px;
        .big { font-size: 930px; }
      }
    }

  }



}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  header h1 {
    font-size: 160px;
  }
  section {
    &.declare h2 { font-size: 155px; }
    &.take-action h2 { font-size: 218px; }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  header h1 {
    font-size: 210px;
    line-height: 0.6;
    .small { font-size: 168px; }
  }
  section {
    &.declare h2 { font-size: 200px; }
    &.take-action h2 { font-size: 218px; }
    &.why {
      h2 { font-size: 170px; }
      .logo { text-align: left; }
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  section {
    &.declare h2 { font-size: 212px; }
    &.why {
      h2 { font-size: 210px; }
    }
  }
}



@import "xs-sm";
@import "md";