/*------------------------------------------------------------------
    Media Queries
------------------------------------------------------------------*/




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .btn { 
    font-size: 30px;
    br { display: none; }
  }
  header h1 {
    font-size: 118px;
  }


  section {

    &.why {
      h2 {
        font-size: 210px;
        .big { font-size: 930px; }
      }
    }

    &.declare {
      h2 { font-size: 115px; }
      h3 { font-size: 45px; }
      p { font-size: 36px; }
    }
    &.take-action {
      h2 {
        font-size: 190px;
        .small { font-size: 130px; }
      }
      .take-action-container {
        padding-left: 20px;
        padding-right: 20px;
      }
      .hash-tag {
        font-size: 45px;
      }
    }
  }



}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  header h1 {
    font-size: 160px;
  }
  section {
    &.declare {
      h2 { font-size: 155px; }
      h3 { font-size: 62px; }
    }
    &.take-action {
      h2 {
        font-size: 218px;
        .small { font-size: 146px; }
      }
      .take-action-container {
        max-width: 700px;
        //padding: 50px 20px 30px;
        padding-left: 80px;
        padding-right: 80px;
      }
    }
    //&.take-action h2 { font-size: 218px; }

  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  header h1 {
    font-size: 210px;
    line-height: 0.6;
    .small { font-size: 168px; }
  }
  section {
    &.why {
      h2 { font-size: 170px; }
      .logo { text-align: left; }
    }
    &.declare h2 { font-size: 200px; }
    &.take-action h2 { font-size: 218px; }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  section {
    &.why {
      h2 { font-size: 210px; }
    }
    &.declare h2 { font-size: 212px; }
  }
}



@import "xs-sm";
@import "md";