/* tablet sizes */



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
/*

  header h1 {
    font-size: 160px;
    line-height: 0.8;
  }
  section {
    &.declare h2 { font-size: 155px; }
    &.take-action h2 { font-size: 218px; }
  }
*/

}