/*------------------------------------------------------------------
    Footer
------------------------------------------------------------------*/


footer {

  .logos {

  }
  .contact {
    color: #414141;
    font-size: 28px;

  }


  .blue-footer {
    background-color: $color-blue;
    min-height: 540px;
  }
}
