/*------------------------------------------------------------------
    Footer
------------------------------------------------------------------*/


footer {

  .logos { padding-top: 100px; }
  .contact {
    color: #414141;
    font-size: 28px;
    padding-bottom: 50px;
    padding-top: 80px;
  }


  .blue-footer {
    background-color: $color-blue;
    min-height: 540px;
  }
}
