/*------------------------------------------------------------------
    General elements
------------------------------------------------------------------*/

body {
  font-family: $font-family;
  font-size: $body-font-size;
  text-align: center;
}

h1, h2, h3 {
  color: $color-red;
  font-weight: 700;
  text-transform: uppercase;
}
h1 {
  @include font('open-sans');
  color: $color-blue;
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}


p {
  color: $body-color;
  font-size: 30px;
  line-height: 1.671;
}


a { /*color: $primary-color; */text-decoration: none; }
a:focus, a:hover { color: inherit; text-decoration: underline; }

.btn {
  background: $color-red url('../images/icon-pen.png') no-repeat right 10px center;
  border-radius: 0;
  color: white !important;
  font-size: 30px;
  font-weight: 700;
  padding: 25px 75px 25px 25px;

  // bootstrap default image is none, need to redefine
  &:active { background-image: url('../images/icon-pen.png'); }
}



.star {
  background: url('../images/star.png');
  display: inline-block;
  height: 43px;
  margin: 0 20px;
  width: 44px;
}

