/*------------------------------------------------------------------
    Header
------------------------------------------------------------------*/

header {
  background: url('../images/bg-header.jpg');
  min-height: 100vh;
  max-height: 1600px;
  padding: 100px 0;


  h2 {
    color: white;
    //display: inline;
    font-size: 27px;
    font-weight: 500;
    padding: 0 0 50px;
  }

  h1 {
    @include font('source-sans-pro');
    color: $color-blue;
    //display: inline;
    font-size: 60px; //213px;
    line-height: .8;

    .small { font-size: inherit; }
    .red { color: $color-red; }
  }

  .btn {
    margin-top: 100px;
  }


}