/*------------------------------------------------------------------
    Sections
------------------------------------------------------------------*/


section {

  &.why {
    background-color: $color-black;
    padding: 200px 0;

    h2 {
      font-size: 120px;
      font-weight: 300;
      line-height: 0.9;
      .big {
        font-size: 620px;
        line-height: 0.8;
      }
    }

    p {
      color: white;
      text-align: left;
    }

    .logo { text-align: center; }

  }
  &.declare {
    padding: 200px 0 200px;
    h2 { font-size: 212px; }
    h3 {
      color: $color-black;
      font-size: 62px;
      margin: 80px 0 50px;
      text-transform: unset;
    }
    p {
      font-size: 36px;
      margin-bottom: 100px;
    }
  }
  &.take-action {
    h2 {
      color: white;
      font-size: 218px;
      line-height: 0.6;
      .small {
        font-size: 146px;
      }
    }
    .take-action-container {
      background-color: $color-red;
      color: white;
      padding: 50px;
      min-width: 640px;
    }
  }
}

